.card {
    background: #313131;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card h3 {
    color: var(--font-light);
    font-weight: 400;
    margin-bottom: 6px;
}

.card p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
}