.header{
    display: flex;
    padding:10px;
    justify-content: space-between;
    gap:10px;
    background:rgba(0,0,0,0.5);
}

.logo{
    display: flex;
    align-items:center;
    gap:10px;
}
.logo img{
    height:30px;
    width: 30px;
}
.logo h1{
    color:var(--font-light);
    font-size:30px;
}

.innerWrapper{
    display:flex;
    gap:8px;
    flex:1;
    align-items: center;
}

.innerWrapperRight{
    display:flex;
    gap:8px;
    flex:1;
    justify-content: flex-end;
    align-items: center;
}