.sidebar {
    background: rgba(0, 0, 0, 0.3);
    min-height: calc(100vh - 55px);
}

.wordSpaceTitle {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.wordSpaceTitle>svg {
    font-size: 40px;
    color: var(--primary);
}

.wordSpaceTitle h3 {
    color: #fff;
    font-size: 14px;
    margin-bottom: 2px;
}

.wordSpaceTitle p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1em;
}

.list {
    padding: 16px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.list li {
    display: flex;
    gap: 12px;
    align-items: center;
    line-height: 1em;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    padding: 8px 10px;
    cursor: pointer;
}

.list li:hover {
    background: var(--bg-primary);
}

.list li>svg {
    font-size: 1.4em;
}

.listTitle {
    color: rgba(255, 255, 255, 0.8);
    padding: 16px 10px 0;
}

@media(max-width:767px) {
    .sidebar {
        position: fixed;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: 999;
        background: #111;
        width: 60vw;
        overflow-y: auto;
        transform: translateX(-100%);
    }
}